
/* COLORES-COLORES-COLORES-COLORES-COLORES-COLORES-COLORES-COLORES-COLORES */

$colordark: #303081;
$colorlight: #7495f7;
$colorwhite: #c9d5f7;
$gradient: linear-gradient(0deg, rgba(48, 48, 129, 1) 33%, rgba(69, 69, 224, 1) 100%);

/* FUENTES-FUENTES-FUENTES-FUENTES-FUENTES-FUENTES-FUENTES-FUENTES-FUENTES */

$fuente1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuentetitles: 'Titillium Web', sans-serif;





main {
    background-color: $colordark;
}



/* HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER */

.navbar{
    background-color: white;
}


.nav-link{
    color: #06133a !important; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.nav-link:hover{
    color: $colorlight !important;
}

.navbar-brand{
    color: #06133a;
    font-size: 30px;
    font-family: $fuente1;
    margin: 0;
    padding: 0;
}

.navbar-toggler{
    color: white;
}

.bold{
    font-weight: bold;

}

.navbar-nav{
    margin: 10px;
}

header a{
    font-size: 22px;
}



/* FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER */

body{margin-top:20px;}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}


/* DESTINOS-DESTINOS-DESTINOS-DESTINOS-DESTINOS-DESTINOS-DESTINOS-DESTINOS-DESTINOS */

.titles {
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-family: $fuentetitles;
}

.gray {
    color: #aca8a8;
    font-size: 22px;
}

.black {
    background-color: $colordark;
    width: 100%;
}

.contenedordestinos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.168);
    color: white;
    background-color: #7575f52c;
}

.destino1{
    width: fit-content;
    display: grid;
    justify-items: center;
}
.destino2{
    width: fit-content;
    display: grid;
    justify-items: center;

}

.contenedordestinos p {
    font-size: 20px;
    color: lightgray;
    text-align: center;
    width: 50%;
    font-family: $fuente1;

}

.contenedordestinos h2 {
    font-family: $fuentetitles;
    font-size: 22px;
    text-align: center;
}

.contenedordestinos img {
    border-radius: 10px;
    max-width: 50%;
    min-width: 300px;
    -webkit-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.75);
}

.efectoimagen:hover {
    transform: scale(1.03);
    transition: calc(0.8s);
}

/* OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS-OFERTAS- */

.divbox {
    display: flex;
    justify-content: space-evenly;  
    margin-top: 40px;
    padding-bottom: 40px;
}

.divbox p {
    font-size: 20px;
    padding-bottom: 30px;
    color: $colorlight;
    font-family: $fuente1;
}


.oferta1 {
    text-align: center;
    width: 300px;
    max-height: 30%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.244);
    padding: 50px;

}

.oferta2 {
    text-align: center;
    width: 300px;
    max-height: 30%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.244);
    padding: 50px;

}

.oferta3 {
    text-align: center;
    width: 300px;
    max-height: 30%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.244);
    padding: 50px;

}


.buttons {
    font-family: $fuentetitles;
    font-size: 23px;
    text-decoration: none;
    color: #ffd900;
    padding: 15px;
    border-radius: 10px;
    background-color: #2929f63e;
}

.buttons:hover {
    color: #ffffff;
}

/* NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS-NOSOTROS- */

.nosotrosbox {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.nosotrosbox img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    background-image: url(../assets/img/alojamiento.jpg);
}

.imagen{
    padding: 30px;
    max-width: 70%;
    min-width: 300px;
    margin: 0 auto;
}


.nosotrosbox p {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-family: $fuente1;
    color: $colorlight;
}


.motivos{
    background-color:  #2a2a7175;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.motivos h3{
    font-family: $fuentetitles;
    font-size: 22px;
    color: rgb(60, 60, 60);
    margin: 20px;
}

.motivos p{
    font-family: $fuente1;
    font-size: 16px;
    color: rgb(114, 114, 114);
    margin: 20px;
}

.mo1{
    width: 300px;
    max-height: 40%;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

.mo2{
    width: 300px;
    max-height: 40%;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

.mo3{
    width: 300px;
    max-height: 40%;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

/* ALOJAMIENTO-ALOJAMIENTO-ALOJAMIENTO-ALOJAMIENTO-ALOJAMIENTO-ALOJAMIENTO-ALOJAMIENTO-ALOJAMIENTO-ALOJAMIENTO- */

.alojamiento {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.gradient {
    background: $gradient;
}

.box {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 70%;

    font-family: $fuente1;
    border: 7px solid #1741ad;
    border-right: none;
    padding: 6px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: $colordark;
}

.searchTerm:focus {
    color: #3c3ce5;
}

.searchButton {
    border: 1px solid #3039be;;
    background: #3039be;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 25px;
}




.sectionbox {
    width: 100vh;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 40px;
}


.imagen_alojamiento {
    margin-top: 30px;
    width: 100%;
    background-image: url( ../assets/img/alojamiento.jpg);
}


/**formulario**/

.contact-form{
    background-color: rgba(0, 0, 0, 0.152);
    border-radius: 50px;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 12%;
    margin-top: 50px;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -10%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -15%;
    text-align: center;
    color: #88b9ee;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 2rem;
    padding: 1.5%;
    background: #414afb;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* VUELOS-VUELOS-VUELOS-VUELOS-VUELOS-VUELOS-VUELOS-VUELOS-VUELOS- */

.vuelosbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    background-color: $colordark;
    -webkit-box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    margin: 15px;
    padding: 15px;
    column-width: 400px;
    border-radius: 10px;
    margin-top: 40px;
}

.box2 {
    background-color: $colordark;
    -webkit-box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    margin: 15px;
    padding: 15px;
    column-width: 400px;
    border-radius: 10px;
}

.box3 {
    background-color: $colordark;
    -webkit-box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.75);
    margin: 15px;
    padding: 15px;
    column-width: 400px;
    border-radius: 10px;
    margin-bottom: 40px;

}



.destinosbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 40px;

}

.destinosbox h3 {
    background-color: $colordark;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    padding: 6px 40px;
    text-shadow: 0px 2px 4px #0000009d;
}

.destinosbox p {
    box-shadow: inset -1px -6px 3px -37px #3b3d3d;
    background: linear-gradient(to bottom, #2d2d2daa 5%, #000000aa 100%);
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 40px;
    margin-bottom: 40px;
}


.destinosbox a {
    background-color: #2c2cd4;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: white;
}

/* CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL CARROUSEL :  */


.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item h4 {
	font-family: $fuentetitles;
}
.carousel .carousel-item img {
	max-width: 100%;
	display: inline-block;
}
.carousel .carousel-item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #02afff;
	padding: 6px 15px;
	margin-top: 5px;
}
.carousel .carousel-item .btn:hover {
	background: #2b1fb3;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;
	border-radius: 50%;
	border: 3px solid rgb(255, 255, 255);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}
.carousel-indicators li {	
	background: #ffffff;
}
.carousel-indicators li.active {	
	background: rgb(255, 255, 255);
}


/* imagenes imagenes imagenes imagenes imagenes imagenes imagenes :  */


.item1 {
    border-radius: 10px;
    text-align: center;
    background-image: url(../assets/img/mar_del_plata.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 40px;
    padding-bottom: 40px;
}


.item2 {
    border-radius: 10px;
    text-align: center;
    background-image: url(../assets/img/cataratas.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 40px;
    padding-bottom: 40px;
}

.item3 {
    border-radius: 10px;
    text-align: center;
    background-image: url(../assets/img/bariloche.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 40px;
    padding-bottom: 40px;
}

/* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA :  */

@media only screen and (min-width: 320px) and (max-width: 610px){

    .contenedordestinos {
        display: grid;
        grid-template-columns: 1fr;
    }
    .header {
        padding: 20px;
    }

    .barra a{
        font-size: 20px;
    }

}


@media (max-width: 350px)  {


    .contenedordestinos img:hover {
        transform: scale(1);
        transition: 0;
    }

    .efectoimagen:hover {
        transform: scale(1);
        transition: 0;

    }

    /* header header header header header header header*/


}

@media (max-width: 768px){


    .efectoimagen:hover {
            transform: scale(1);
            transition: 0;
    
    }

    .destinosbox {

        grid-template-columns: repeat(1, 600px);

    
    } 
    .item1{
        margin-top: 40px;
    }

    .mo1 {
        width: 250px;
        margin-bottom: 30px;
    }

    .mo2 {
        width: 250px;
        margin-bottom: 30px;
    }

    .mo3 {
        width: 250px;
        margin-bottom: 30px;
    }

    .oferta1{
        width: 250px;
        margin-bottom: 30px;
    }
    
    .oferta2{
        width: 250px;
        margin-bottom: 30px;
    }
    .oferta3{
        width: 250px;
        margin-bottom: 30px;
    }

    .motivos{
        flex-wrap: wrap;
    }

    .divbox{
        flex-wrap: wrap;
    }
    
}
